*.tlog
code/cpp/WD_geodesic/WD_geodesic.VC.db
*.ipch
code/cpp/WD_geodesic/WD_geodesic.VC.VC.opendb
code/matlab/h_mean.png
code/matlab/h_mean.png
code/matlab/c_mean.png
code/matlab/c1_mean.png
code/matlab/c2_mean.png
code/matlab/localtest.m
code/matlab/LocalTest3.m
code/matlab/x.mat